<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
</head>
<body>

<form>
    <label>Type what you want to say: </label>
    <input type="text" , id="mytext">
    <input type="submit" value="chat">
</form>

</body>
<script>
    var socket = io.connect("http://localhost:4000");
    socket.emit('call', req.body.mytext);
</script>
</html>