<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
</head>
<body>
<input type="button" onclick="clk()">
</body>
<script>
    var socket = io.connect("http://localhost:4000");
    socket.emit('call',{pknu:'wap'});
    socket.on('news', function (data) {
        //console.log(data);
        console.log('hi')
        //socket.emit('my other event', {my: 'data'});
    });

</script>
</html>